<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beranda | SMK Harapan Bangsa</title>
</head>
<body>
  <h1 align="center">SMK HARAPAN BANGSA</h1>
  <hr>
  <div align="center">
    <a href="{% url 'home' %}">Beranda</a>
    <a href="#">Tentang Kami</a>
    <a href="#">Testimoni</a>
  </div>
  <hr>
  <div>
    <h3 align="center">Timeline SMK Harapan Bangsa</h3>
    <div class="parag" align="justify">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint labore ea magni officiis tempora unde, quisquam ducimus delectus non laboriosam modi, tempore harum totam architecto, est sed minima quaerat laudantium! Repudiandae, similique nemo quo veritatis modi tempora nulla pariatur impedit in porro animi ea numquam hic sunt tempore beatae dicta. Unde eos exercitationem velit officia minus enim beatae facere harum ab fuga quibusdam dolore quidem est quas commodi magni dolorem error aliquam, nihil ducimus pariatur! Aliquam optio, maxime laudantium numquam modi soluta! Repellat pariatur ex natus iste deserunt. Eaque vel nisi voluptatibus officiis culpa laboriosam, inventore odio voluptates nemo ipsam.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi provident ex aperiam asperiores tempore, fugiat illum eum, exercitationem, quo minus iusto dolore. Hic dolorum omnis quisquam magni minima voluptatem laboriosam officiis dicta amet dolor cum atque vero magnam tempore, sit itaque quidem numquam vel! Rerum aspernatur vitae nam beatae, corrupti in quo officia quasi cupiditate commodi. Ipsam dicta explicabo atque distinctio earum sapiente cum fuga? Nihil dolor porro illum quod neque beatae amet totam numquam!</p>
    </div>
  </div>
</body>
</html>